.bai{color:red}

/* BAI1 */

.bai1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center}

.title1{
    font-size: 45px}

.subtitle1{
    font-size: 15px;
    margin: 15px}

.VT{
    color: blue}

.sanpham{
    display: flex;
    margin: 15px}

.sp{
    padding: 5px;
    color: white;
    margin: 5px;
    border-radius: 5px;
    background: #2C3333}

/* BAI2 */

.populartags{
    font-size: 30px;
    text-indent:10cm}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    justify-content: center}

.tag{
    color: white;
    background: greenyellow;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    flex-wrap: wrap}

/* BAI3 */

.bai3{
    margin-left:  400px;
    margin-right: 400px}

.list{
    list-style-type: none}

.button3{
    padding: 10px 20px;
    background-color: #5CD2E6;
    border: none}

/* BAI4 */

.bai4{
    margin: auto;
    width: 50%}

.container4{
    width: 700px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center}

.icon4{
    margin-top: 30px}

.headertext4{
    padding: 10px;
    margin-top: 40px}

.form4{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center}

.email-field{
    margin: 5px;
    padding: 20px 150px 20px 10px;
    border: none}

.button4{
    padding: 20px;
    color: white;
    background: blue;
    border-radius: 5px;
    border-color: blue;
    margin-bottom: 100px}

/* BAI5 */

.container5{
    display: flex;
    justify-content: center}

.background5{
    width: 1500px;
    height: 300px;
    background-image: url("https://cdn.glitch.global/8ec1ab4a-4df3-484a-a356-9b386288265e/cafe.jpeg?v=1709317852613");
    color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-size: cover}

.wraptext5{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center}

.text5-1{
    font-size: 20px;
    padding: 20px}

.button5{
    font-size: 20px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #F94A29;
    margin-top: 10px}

/* BAI 6 */

.background6{
    width: 1500px;
    height: 300px;
    background-image: url("https://cdn.glitch.global/8ec1ab4a-4df3-484a-a356-9b386288265e/galaxy.png?v=1709362506595");
    color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-size: cover}

.wraptext6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px}

.block{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center}

.block > *{
    padding: 10px}

.text6{
    color: yellow;
    font-size: 15px}

.green{
    color: #A2FF86}

.pink{
    color: #FF7ED4}

.red{
    color: red}

.blue{
    color: blue}

.number{
    font-size: 30px}

.block> i{
    font-size: 30px}